[2017-03-02 00:12] WorldLanguages opened #1 "Statuses"
Online → Loaded a Scratch page on the last 5 minutes
Absent → Was on a single page for more than 5 minutes, and the page keeps open
Offline → The user last status was ONLINE, but the timestamp is less than 5 minutes ago or;
                The user last status was ABSENT, but the timestamp is less than 3 minutes ago.

Note: the code checks, on every tab, if the last absent timestamp was sent in th

[2017-03-06 08:16] joker314 opened #2 "Line 20"
By the way, `0 == null` so if this is not what you want use `=== null` 😃

[2017-03-06 19:35] WorldLanguages commented on #2
Great, but what's the difference

[2017-03-08 19:06] #2 closed, assigned to nobody

[2017-03-08 19:08] #1 closed, assigned to nobody

[2017-03-09 23:18] JordanB-1337 commented on #2
Why am I receiving notifications for this repository

[2017-04-29 22:55] WorldLanguages opened #3 "Wrong key detection on all server requests"

[2017-04-29 22:57] WorldLanguages opened #4 "Manual status choosing"
Online
Absent
Do Not Disturb
Offline (Ghost)

[2017-04-29 22:57] WorldLanguages opened #5 "Manual status choosing"
Online
Absent
Do Not Disturb
Offline (Ghost)

[2017-04-29 23:01] #5 closed, assigned to nobody

[2017-04-29 23:01] #4 closed, assigned to nobody

[2017-04-29 23:01] #3 closed, assigned to nobody

[2017-04-29 23:02] WorldLanguages opened #6 "Update 1"
- [ ] Better "away" detection
- [ ] Detect 403 on POST requests
- [ ] Add manual status choosing (Online, Absent, DND, Ghost)

[2017-04-30 15:20] #6 closed, assigned to nobody

[2017-05-01 15:40] joker314 commented on #6
Why are all issues being closed? Has all this been implemented?

[2017-05-01 16:18] WorldLanguages commented on #6
No, it's just me don't knowing what update actually do next :P

[2017-05-01 16:42] joker314 commented on #6
Just keep a list open of things people are suggesting, and we will get a few done each update :)

[2017-05-01 16:51] joker314 opened #7 "Ideas"
Here is a list of things that isOnline users are requesting. We should consider each idea, but remember that all ideas must:

* Make sure the community guidlines cannot be broken using it
* Not access or set any personal user data

Now, then, here are the suggestions

- [ ] Manual status selections... "Do not disturb", "Offline (ghost)", "Away", "Normal (online)"
- [ ] Detect if a 403 response is

[2017-05-01 17:15] joker314 commented on #7
Let's first discuss the first option, which is "Manual status selections". This could be an option in the "Account Settings" menu, or as a dropdown menu on your own status. I prefer the second option, so here is what I think it should look like.

![image](https://cloud.githubusercontent.com/assets/18113170/25586716/80053950-2e98-11e7-84a2-fe9c39210f7c.png)

My first idea, which I like less, would

[2017-05-01 17:46] WorldLanguages commented on #7
I'd prefer to keep this (simple) setting on the profile. If we add more settings later, we should make a dedicated page for it.

[2017-05-01 17:49] joker314 commented on #7
Okay, I've been working on it for the last ~15 minutes it should be ready soon

[2017-05-02 16:31] joker314 opened #9 "Friends"
This is an issue to keep track of progress and discuss the "Notify me when my friends are online" feature.

[2017-05-04 17:56] WorldLanguages commented on #7
I'll work on these today

[2017-05-06 14:14] ed-cooper opened #12 "Uninstall cleanup"
https://developer.chrome.com/extensions/runtime#method-setUninstallURL

I'll implement a server side page to delete isonline users, preventing any issues with "last online 3 months ago"

To consider: How can we tell between a user being genuinely deleted and a bot just spamming that URL to delete every account?

[2017-05-06 14:59] joker314 commented on #12
Can't you add the key to the URL?

[2017-05-06 14:59] joker314 commented on #12
it's a function after all.. not a constant

[2017-05-06 15:00] ed-cooper commented on #12
Yep, that works
I'll get working on it at some point in the future

[2017-05-06 15:14] ed-cooper commented on #12
Uninstall page will be `isonline/api/v1/[username]/[key]/delete`

[2017-05-06 16:00] joker314 opened #13 "New API write up ideas"
Definitions:

* `<iO server>` the URL to the isOnline API
* `<key>` the key the server provides to make requests
* `<request_user>` the Scratch username of the person making the request
* `<query_user>` the Scratch username of the query

# self check
[code]

Response:

[code]

An error cannot occur here, as you still can access this API endpoint even if you have been marked as a bot. However, if t

[2017-05-06 17:38] #13 closed, assigned to nobody

[2017-05-07 06:39] JordanB-1337 commented on #12
but what is going to happen if their scratch account is delted, not just isonline

[2017-05-07 11:01] ed-cooper commented on #12
Then nobody will be able to access their profile so it shouldn't be an issue (and worse case scenario they just show as offline)

Having unused accounts on the server isn't a big issue (as long as used accounts outnumber the unused ones) This is more about stopping someone being displayed as offline, when they are online but have simply uninstalled isonline

[2017-05-07 14:03] joker314 commented on #12
How about if you have been offline for 6 months, you have to re-key? that would help free up some server space no?

[2017-05-07 15:40] ed-cooper commented on #12
Server space is not an issue

[2017-05-22 22:41] MasterOfTheTiger commented on #9
So, what is the basic idea behind this feature?

[2017-05-29 22:14] #7 closed, assigned to WorldLanguages

[2017-05-30 03:00] JordanB-1337 commented on #7
nice close it to give us all a notification

[2017-05-30 07:22] joker314 commented on #7
It's because, @JordanB-1337 the issue is no longer relevant -- due to the past updates and such.

There isn't a way to close an issue without notifying :(

[2017-07-04 15:42] ed-cooper commented on #12
Uninstall page is now available:
`https://scratchtools.tk/isonline/uninstall/?user=[username]&key=[apikey]`

Just needs implementing into extension now

[2017-07-06 10:26] benajaero opened #18 "Multiple extension installs for the same Chrome account"
In Chrome, users are able to create an account. If they sign into any other Chrome browser then all their extensions and bookmark are re-downloaded. The problem here is that when I sign into Chrome on a different laptop, I have to reinitialize isOnlinev2. isOnlinev2 has to be setup each time and only works for one browser.

[2017-07-06 17:59] WorldLanguages commented on #18
isOnline v1.3 will use chrome sync, but the current version doesn't

[2017-07-16 03:13] WorldLanguages commented on #12
Implemented

[2017-07-16 03:13] #12 closed, assigned to nobody

[2017-07-16 03:14] #18 closed, assigned to nobody

[2017-07-23 20:57] lholliger opened #19 "Notifications for new messages"
This would help users that have chrome launched be notified if they have a new message on scratch, the code has a few bugs, but could be fixed when implemented if it would be.

I wrote an extension that notifies the user if there is a new notification on their profile, below is the code used by the extension:
[code]
The issues in this code:
the username is not dynamic
it shows `{"count":0}` instea

[2017-07-28 12:16] andybrwr commented on #19
do you have this on github somewhere

[2017-07-28 15:42] lholliger commented on #19
nope, ill post it if you want it

[2017-07-28 16:37] andybrwr commented on #19
yes please :P i want to fix the stuffs xD

[2017-07-28 16:37] andybrwr commented on #19
btw do i have to allow it to send notifications or will it just work? me nu chrome lots more time recent

dat perfect grammar.

[2017-07-28 18:14] lholliger commented on #19
i dont remember, ill post it as a gist
https://gist.github.com/DatOneLefty/87a26ec73361d3b5090995ad44b05971

[2017-08-05 15:00] #9 closed, assigned to nobody

[2017-08-07 02:04] csf30816 commented on #19
@DatOneLefty Why don't they just install my Scratch Messages Android App?

[2017-08-07 12:04] andybrwr opened #20 "nvm"
nvm

[2017-08-07 12:12] #20 closed, assigned to nobody

[2017-08-07 12:39] andybrwr commented on #19
dont have android
also you know it would be nice to have a chrome extension so yeah

[2017-09-08 19:45] WorldLanguages commented on #19
After this update we'll work on a Scratch extension with lots of tools, that are outside the scope of isOnline. :D

[2017-09-08 19:45] #19 closed, assigned to nobody

[2017-09-09 04:26] lholliger commented on #19
@WorldLanguages instead of making your own you might want to look at Furball, it has many tools that improve scratch and keeping them in one place would be better than having multiple extensions

[2017-09-29 20:22] joker314 opened #22 "Update me"
What's up? How are things moving along? What things are we planning on implementing?

[2017-09-30 01:22] Torotv commented on #22
Helllo.

[2017-09-30 13:47] WorldLanguages commented on #22
Hey! I'm saturated in homework stuff at the moment, and I need a clean mind to actually code :P

I'll make a change to the shift+enter code and then I'd release it.

[2017-09-30 14:10] WorldLanguages commented on #22
Should I take care of translations now?

[2017-10-05 21:52] joker314 commented on #22
I'm happy to continue with it.. there's nothing new right? Remember to credit those mentioned in the Discord!

[2017-10-07 16:46] WorldLanguages commented on #22
Nothing new

Things to do:
Check all strings are in all languages
Add translation credits (every messages.json should have at the end a credit term, if not, check in Spanish and copy paste)

Busy is killing m e :(

[2017-10-19 13:40] joker314 commented on #22
Okay, have we made the timings consistent (3 vs 5 mins)?

[2017-10-22 18:00] joker314 opened #23 "Add comment checker for spam"
We should have one of those red notices come up (but instead, make it green and clear that it's from isOnline) which will see if your comment is of the form

And recommend you not post that, as it's a form of spam. You can ignore the message if you want it.

Thoughts?

[2017-10-22 20:00] joker314 opened #24 "Halloween easter egg, maybe?"
Scratch is a wonderful resource inspiring young children to educate themselves about the computers they constantly use; providing them a tool to express themselves in a way that teaches concepts of programming -- and creating a relaxing environment through social aspects of its site. And then there's us. We provide a service for that social aspect, when we could be helping Scratch to reach out to

[2017-10-22 20:23] WorldLanguages commented on #24
Seems very fun!!!

However I don't think this is worth being translated. Would you translate something that will only appear for a day?

[2017-10-22 20:23] WorldLanguages commented on #24
(btw, I added an easter egg to the popup - have at least one online friend and do the konami code :P)

[2017-10-22 20:31] kickofline commented on #23
+1

[2017-10-22 20:43] joker314 commented on #24
Woah that's a cool easter egg.

I see what you mean, but this is our opportunity to educate our kids about code. It seems a bit unfair to deny you that experience just because you don't speak English -- even though I get it, it's a lot of effort.

[2017-10-22 20:44] joker314 commented on #24
Pssst ask Chooper (is he still doing it?) to add a donate button?

[2017-10-22 20:50] WorldLanguages commented on #24
Yes I see how it is unfair - but I don't like to abuse of translators. They offer their work so other people can use the extension in their language, not to translate easter eggs that aren't necessary to implement (but that may be helpful).

We can get this localized, but we have to tell the translators that this is for an easter egg and it's optional for them to translate this (well, it's always

[2017-10-22 20:58] joker314 commented on #24
Yeah, I think it might help if we delay this for next halloween and give them time to translate a bit at a time?

_Or, we could pay some translators if we add a donate button_

[2017-10-22 21:06] WorldLanguages commented on #24
Why not do it this year and repeat it next but localized

[2017-10-22 21:11] joker314 commented on #24
Hmm yeah sure, let's see if we can program this thing in time!

[2017-10-22 21:21] WorldLanguages commented on #24
What if we do this for santa but in christmas :P

[2017-10-22 21:23] joker314 commented on #24
Yeah, that might work~ though we have to be careful not to pick sides with religions :P

[2017-10-22 21:38] joker314 commented on #24
https://scratch.mit.edu/users/DrHalloweenMonster/ - This is what I'm doing instead of coding :(

[2017-10-23 00:24] joker314 commented on #24
Woah people stalk this repository -- DrHalloweenMonster already has 2 followers!

[2017-10-23 02:09] joker314 commented on #24
AAaaaah done

[2017-10-23 10:14] #22 closed, assigned to nobody

[2017-10-23 13:57] MasterOfTheTiger commented on #24
This sounds great! I hope this idea works out. :)
On Sun, Oct 22, 2017 at 19:09 jokebookservice1 <notifications@github.com>
wrote:

[2017-10-23 15:47] DeleteThisAcount commented on #24
i need to update isonline NOWWW

[2017-10-23 18:03] joker314 commented on #24
This issue-comment is licenced under a Creative Commons Share-Alike 2.0 licence in order to permit me posting it on the Scratch forums.

[2017-10-23 21:50] joker314 opened #25 "Transition to WebSockets, eventually"
We should transition to websockets so that updates to your friends' statuses are pushed to your browser, instead of having to request them and them being sent back.

This does have some flaws, though, and requires redesign on the backend.

Thoughts?

[2017-10-24 16:20] DeleteThisAcount opened #26 "i am making this issue so that i can find this easier"
thanks

[2017-10-24 16:20] #26 closed, assigned to nobody

[2017-10-25 13:45] joker314 opened #28 "Who do we credit"
This is important for the update blog.

# Translations

## Vietnamese

- [X] Translate old words
- [X] Translate new words

Credits

- EvanKTC

## French

- [X] Translate old words
- [x] Translate new words

**Progress of new words, 5 / 6**

Credits

- Nobelix _(everything)_

## Spanish

- [x] Translate old words
- [x] Translate new words

Credits

- World_Languages _(everything)_

# Help

Thanks

[2017-10-25 17:38] DeleteThisAcount commented on #28
Yay I'm there!!! oh wait you spelled acount correctly :( It's acount not account :P

[2017-10-25 17:41] DeleteThisAcount commented on #23
theres probally a gazzilion different ways to say ur online. How would you guys detect it? If you just check if it includes the word online then it would be bad cuz people might be discouraged from saying "You should try is online" And if you detected the word you and online then this won't work. "I use is online. You should try it"

[2017-10-25 17:51] MasterOfTheTiger commented on #23
You will still be able to post it if you want.
On Wed, Oct 25, 2017 at 10:41 DeleteThisAcount <notifications@github.com>
wrote:

[2017-10-25 18:59] joker314 commented on #28
Oh no! I spelled something correctly!

[2017-10-25 19:21] joker314 opened #29 "Are we ready to update?"
I think we are, @WorldLanguages thoughts?

[2017-10-25 19:51] joker314 commented on #23
Neural network?

[2017-10-26 00:55] joker314 commented on #29
Nevermind, we have some issues.

[2017-10-26 00:57] joker314 opened #30 "Unknown status on Halloween"
Steps to reproduce:

1) Set your computer's time to Halloween
2) Visit my profile
3) Observe that the status is "Unknown"

4) Visit another user's profile
5) Observe the status isn't "Unknown"

[2017-10-26 00:58] joker314 commented on #30
Thanks to RedMango22 for the report.

[2017-10-26 01:00] joker314 commented on #30
I removed the special codes from my About Me and WIWO and the bug is still there! Why?

[2017-10-26 01:03] joker314 commented on #30
Status works on 30th of October

[2017-10-26 01:04] joker314 commented on #30
And 1st of November. There's some issue with the Halloween code, then?

[2017-10-26 01:14] joker314 commented on #30
DeleteThisAccount has a similar issue!!!

[2017-10-26 01:14] joker314 commented on #30
Uuhhh come on guys what do we have in common?

[2017-10-26 01:15] joker314 commented on #30
We've both used the dev version, and we've both done the Halloween stuff

[2017-10-26 01:16] joker314 commented on #30
There has to be a reasonable explanation

[2017-10-26 01:16] joker314 commented on #30
Otherwise we'll have to remove all the Halloween stuff :(

[2017-10-26 01:18] joker314 commented on #30
We are both reading timestamps from the 23rd of October; that's not good because it's exactly 7 days before Halloween.

[2017-10-26 01:20] joker314 commented on #30
However, that can't be right... one moment

[2017-10-26 01:25] joker314 commented on #30
1st of November doesn't work now, hmm. The timestamps seem to be stuck

[2017-10-26 01:31] joker314 commented on #30
**The extension isn't sending it's requests to update its status for some reason**

[2017-10-26 01:39] joker314 commented on #30
It stopped sending it on the 23 OCT, when I first made and tested the halloween feature. Further testing will be carried out tomorrow.

[2017-10-26 12:36] DeleteThisAcount commented on #28
big problem :P

[2017-10-26 12:37] DeleteThisAcount commented on #30
hmm.... I doubt this will happen on the real halloween

[2017-10-26 12:40] DeleteThisAcount opened #31 "we have a problem"
uh... chooper is uh kinda really inactive so um nobody can un bot themselfs

[2017-10-26 13:44] joker314 commented on #30
The problem is not with the Halloween code; but with switching your date to a date in the future. This sets the timestamp to somewhere in the future.

[2017-10-26 13:44] #30 closed, assigned to nobody

[2017-10-26 13:44] joker314 commented on #30
`localStorage.removeItem("iOlastOn")` should fix it

[2017-10-26 13:52] joker314 commented on #31
Yeah, we need to set up an alternative venue for un-botting

[2017-10-26 13:55] DeleteThisAcount commented on #28
:hooray:

[2017-10-26 13:55] joker314 opened #32 "Setting date to future causes issues with timestamp stuff"
If you set your timestamp to a date in the future, then go back to the present, `localStorage.iOlastOn` causes issues since it stays in the future and blocks any requests until that date.

[2017-10-26 13:56] joker314 commented on #32
(see #30)

[2017-10-26 16:53] WorldLanguages commented on #30
This is just because you're playing with the date I think

[2017-10-26 16:55] WorldLanguages commented on #32
That's because if currentTimestamp-iOlastOn < 10 no requests are sent. You can edit it to ... < 10 && ... >-1 and this will be fixed. There would still be a tiny issue during 10 seconds, but I wouldn't even consider it a bug because many factors have to give place at the same time

[2017-10-26 16:57] WorldLanguages commented on #31
This update refers people to isOnlineV2

[2017-10-26 16:57] #31 closed, assigned to nobody

[2017-10-26 16:58] WorldLanguages commented on #29
I'll localize the remaining spanish localization today

[2017-10-26 16:59] WorldLanguages commented on #25
Bulk requests will be considered to be developed after we change host

[2017-10-26 17:01] WorldLanguages commented on #23
@joker314 lol no go somewhere else to use AI

I support adding, for the first time somebody comments a comment including "ur"/"your"/"you're"/etc + "online" a popup saying to not spam that you have to manually close. The comment would be sent anyway

[2017-10-26 17:58] joker314 commented on #32
I've commited a change, we need to check if the bug still exists

[2017-10-26 18:01] joker314 commented on #24
This seems like it's done

[2017-10-26 18:01] #24 closed, assigned to nobody

[2017-10-26 18:09] joker314 commented on #23
Okay, what about friend list spam

[2017-10-26 19:12] joker314 commented on #29
Closing this issue; we know we're ready when all issues with v1.5 milestone are closed

[2017-10-26 19:12] #29 closed, assigned to nobody

[2017-10-26 19:27] joker314 opened #33 "When do we update the forum thread for Halloween"
So, currently, Halloween starts on the *user's* Halloween; but this isn't the same around the world.

Shall we update the thread on, say, the 27th, that way we're guaranteed that everybody will see it but nobody notices early?

[2017-10-26 19:33] joker314 opened #34 "Better icons for Halloween characters"
We need some better user profile icons for the Scratch accounts of Dr Halloween-Monster, Count Halloween, and the Evil Duchess of Halloween.

Dr Halloween-Monster should be a pumpkin; Count Halloween and the Evil Duchess of Halloween need to be able to fly, but this doesn't have to be shown in the profile pictures.

One of them could hold a lantern.

Very importantly, the profile pictures should b

[2017-10-26 21:37] joker314 commented on #34
Something like this?

![image](https://user-images.githubusercontent.com/18113170/32078273-4b65b476-ba9e-11e7-8ae7-3a4ec173776b.png)

[2017-10-26 23:23] #32 closed, assigned to nobody

[2017-10-27 14:20] joker314 commented on #34
![image](https://user-images.githubusercontent.com/18113170/32108694-59116b24-bb2a-11e7-9d18-3048f4cb6693.png)

That's my attempt at the Duchess of Halloween. I think I'll use it

[2017-10-27 14:30] joker314 commented on #34
![image](https://user-images.githubusercontent.com/18113170/32109165-cc97dca8-bb2b-11e7-9356-276c2c2d1230.png)

Count Halloween! Yay!

[2017-10-27 14:33] joker314 commented on #34
Stretched version for icon

![image](https://user-images.githubusercontent.com/18113170/32109277-24ad1d0e-bb2c-11e7-9b11-7d8761598f5c.png)

[2017-10-27 14:36] joker314 commented on #34
I'm happy with those, closing

[2017-10-27 14:36] #34 closed, assigned to nobody

[2017-10-27 15:03] joker314 commented on #33
I'm doing it now

[2017-10-27 15:03] #33 closed, assigned to nobody

[2017-10-27 17:20] joker314 opened #35 "Firefox doesn't send notifications in the Friend List feature"
In v1.5 we've seperated friend list and notifications; but we need to do more.

Preferably in a non hacky way.

[2017-10-27 17:41] WorldLanguages commented on #35
Do more what?

[2017-10-27 18:21] WorldLanguages opened #36 "Should "friends" be optional?"
Now "friends" doesn't require any permission so I'm not sure we have to ask people to enable it? It could be enabled by default or not deactivable

[2017-10-27 19:42] DeleteThisAcount commented on #36
I just want to be able to see my friends WITHOUT notifications.

But honestly I dont have any friends. (On my friend list that is :P)

[2017-10-27 19:48] joker314 commented on #35
We need to make notifications work on firefox

[2017-10-27 19:49] joker314 commented on #36
People should be able to disable it because of mobile data charges

[2017-10-27 20:17] joker314 commented on #28
@WorldLanguages Yay! Make sure to credit everyone :)

[2017-10-27 20:17] #28 closed, assigned to WorldLanguages

[2017-10-28 00:16] joker314 opened #38 "Private mode to actually respect our users :/"
Have a private mode where the user doesn't need an isOnline account and we don't track them at all and their online status is determined by, say, a studio description.

Can we do this please?

[2017-10-28 05:57] DeleteThisAcount commented on #33
You could just... Have is online only show it on their halloween

[2017-10-28 16:37] WorldLanguages commented on #36
@joker314 no mobile data charges if there are no friends

[2017-10-29 20:29] bob1171 commented on #28
Thanks, Drew

On Wed, Oct 25, 2017 at 8:45 AM, jokebookservice1 <notifications@github.com>
wrote:

[2017-11-01 21:42] #38 closed, assigned to nobody

[2017-11-01 21:49] WorldLanguages commented on #36
Conclusion: No need for it to be optional. I'll make it so it's always enabled now :)

[2017-11-02 18:29] WorldLanguages commented on #36
Made optional

[2017-11-02 18:29] #36 closed, assigned to WorldLanguages

[2017-11-04 08:21] DeleteThisAcount opened #40 "i wana be in the trusted dev team?"
Can I join the "Trusted Dev Team" I know I have asked this a few times but you said that you're not looking for devs. Herohamp is in the trusted dev team? I have beta tested a lot. I know about how the extension works and I can answer people on @isOnlinev2 on scratch. I just want to let people know that I have helped here a few times.

[2017-11-04 13:54] Sheshank-s commented on #40
I'll let @WorldLanguages answer this one.

[2017-11-05 14:39] WorldLanguages opened #42 "Bugs in Firefox for further investigation"
- [x]  FAQs don't work
- [x] Friends don't work

[2017-11-05 14:42] WorldLanguages commented on #40
Hello @DeleteThisAcount , herohamp is actually joining the dev team.

I don't like the idea of doing a separate role called "trusted" - won't everyone request it?

However I see you deserve creditz so I'll make you the user that posts emojis in the update blog :D

[2017-11-05 15:15] WorldLanguages commented on #42
Hmm, this seems to work:

![image](https://user-images.githubusercontent.com/17484114/32416135-01b08a86-c223-11e7-99b6-8f7d8de97fd7.png)

[2017-11-05 15:36] WorldLanguages commented on #42
Looks like this is caused because you need the `tabs` permission in Firefox to use the query API with the "url" parameter

[2017-11-05 15:43] WorldLanguages commented on #42
We can workaround this by getting the last time iOstatus was changed - tabs are constantly changing extension local storage to the status

[2017-11-05 16:30] DeleteThisAcount commented on #40
Yay!!!!

[2017-11-05 16:31] DeleteThisAcount commented on #40
BTW trusted was like next to peoples name on the io scratch account it said like io dev

[2017-11-05 16:32] DeleteThisAcount commented on #40
Can't I 'actually' join the dev team tho?

[2017-11-05 23:41] WorldLanguages commented on #40
@DeleteThisAcount We aren't adding any more members. Herohamp is an exception, and you'll find why soon.

I don't remember if I told you before we'll start with a MSU like extension, maybe called Scratch+? I'd be glad to have you testing on there :)

[2017-11-05 23:41] WorldLanguages commented on #40
testing... and developing too :P

[2017-11-05 23:42] WorldLanguages commented on #42
Ok - I have a solution for this locally almost done :)

[2017-11-05 23:43] WorldLanguages commented on #35
Tracking in #42 - sorry, forgot about this issue

[2017-11-05 23:43] #35 closed, assigned to nobody

[2017-11-05 23:44] WorldLanguages commented on #40
(I'm closing this but we can still talk here)

[2017-11-05 23:44] #40 closed, assigned to nobody

[2017-11-05 23:48] WorldLanguages commented on #42
Commited - will test everything works fine tomorrow.

[2017-11-05 23:52] WorldLanguages opened #44 "Get status from the server"
No need to calculate with local timestamps :)

[2017-11-06 00:02] radioblahaj commented on #44
SO, You're Switching Timestps. Cool

[2017-11-06 05:32] DeleteThisAcount commented on #40
Okeee

[2017-11-06 06:45] DeleteThisAcount commented on #40
Can we have customization for profiles!!!!!???

[2017-11-07 19:45] WorldLanguages commented on #42
Everything works fine - closing.

[2017-11-07 19:45] #42 closed, assigned to WorldLanguages

[2017-11-11 13:50] WorldLanguages opened #47 "Tell crown users isonline.tk is broken"
If possible, let them replace isonline.tk with a working link automatically by clicking a button

[2017-11-11 15:16] radioblahaj commented on #47
You Should Make the .ga link.

[2017-11-11 20:38] radioblahaj opened #51 "Hindi Translation?"
I Was Thinking of Doing hindi and not using google transalte. I'm Really Good at Hindi.

[2017-11-11 20:58] WorldLanguages commented on #51
We won't accept contributions from users that broke the CGs.

[2017-11-11 20:58] #51 closed, assigned to nobody

[2017-11-11 23:24] Ascor8522 opened #53 "I'd like to help you..."
Hi,

Just to tell you all I'm intersted in helping you to improve and develop isOnline.
It's already been quite some time since i'm using it and i find it really great.

I have a good knowlege of Javascript, HTML, CSS, C++ (not needed in this case).
I already made an extension for Scratch (it was more an user-script).
It wasn't about adding social function but small functionalities to make the web

[2017-11-12 14:55] Ascor8522 commented on #47
Just search in Google which user have put a link to isonline.tk and tell the to change to ison.ga (edited ur typo)

To find all the users with the wrong url their Scratch page, just type in Google:
`
site:scratch.mit.edu/users/ +isonline.tk
`

[2017-11-12 15:04] DeleteThisAcount commented on #47
or just check if they have isonline.tk in their about me and tell them to change it

[2017-11-12 15:35] Ascor8522 commented on #47
## **Noticed users:**
enzocosmos
TrueFBK
ratchetyclank
Dadyno
ohlinator
TheAwesomeGuy16
hellodude1231
cf65rcjurhvj
MysteryHex27
GalaxiaRedwood
arloclc
masonthecoolguy
RememberNovember
Tigy08
UltimateEXEHunter
HarrietNewton
alexixi
lovekitty1
jacob630
Bouboufez
luisbarretto
ma15fo43
ScriptedAwesome
Witherbrine699
MrMinecraftMan404
Austinato
ScratchyCat5100
Alzter
GoldAnimations
RoastedSquirrel64
Fu

[2017-11-12 15:36] radioblahaj commented on #47
SO, They Can Use The Link ison.cf?
Where is The source code for the crown?

[2017-11-12 17:01] Ascor8522 commented on #47
It's in Code.js at lines 509 and 517

[2017-11-15 21:24] joker314 commented on #53
Thanks for taking the time to write this out.

Feel free to submit pull requests if you'd like to help out!

[2017-11-18 20:53] WorldLanguages commented on #47
Thanks so much @Smrman for all the time you used to do that big list! I honestly can't express how surprised I am because somebody took the time to do that.

Unluckily, we're making this automatic, meaning we don't have to search for crown users. Thanks for your work <3

[2017-11-18 20:53] WorldLanguages commented on #47
@DeleteThisAcount We will let them isOnline do that automatically! :)

[2017-11-18 23:21] radioblahaj commented on #47
So, No Crown For Users?

[2017-11-19 01:11] radioblahaj commented on #47
Thanks!

[2017-11-19 16:21] #53 closed, assigned to nobody

[2017-11-19 18:37] radioblahaj opened #54 "Isonline Maintained by"
|It Says Isonline is maintined by @GreenBayRules @WorldLanguages @jookbookservice and @choper100
Where Is Herohamp?

I Cou;d Fix This If i could find that in popup.html.
Which Lines is in it?
@DeleteThisAcount

[2017-11-19 21:09] Sheshank-s commented on #54
Thanks for the heads up :D I fix this.

[2017-11-19 21:11] Sheshank-s commented on #54
Fixed :D

[2017-11-19 21:11] #54 closed, assigned to Sheshank-s

[2017-11-20 18:21] Ascor8522 commented on #44
Found something interesting...
https://stackoverflow.com/questions/4282151/is-it-possible-to-ping-a-server-from-javascript

[2017-11-23 02:43] radioblahaj opened #55 "Isonline.tk Is Still The Crwon Giver"
^^^

[2017-11-23 07:29] Sheshank-s commented on #55
Tracking in #47

[2017-11-23 07:29] #55 closed, assigned to nobody

[2017-11-29 20:12] kyleplo commented on #47
Maybe accept the links:
http://ison.ga
http://isonline.cf
http://aremyfriends.online

[2017-12-03 01:46] apple502j opened #57 "About ST's extension disallowing"
By it we can't put iO links or ads in our prifile. So:

* Remove crowns and emojis
* Alert for using users

Of cource, I disagree with ST, but this is important to protect the users.

I forked:  apple502j/isOnlinev2
What do you think?

[2017-12-03 04:06] radioblahaj commented on #57
Instead; they can make all users have the crown
And you are still allowed to use emojjis

[2017-12-03 05:16] Sheshank-s commented on #57
If all users have the crown, what is the point of it? We will be removing the crown.

[2017-12-03 05:24] radioblahaj commented on #57
It's good. No! I can help

[2017-12-03 14:54] WorldLanguages commented on #57
We'll remove `_isonline_,` other emojis don't necessarily break the policy in my opinion

[2017-12-03 15:01] #57 closed, assigned to nobody

[2017-12-05 05:23] apple502j commented on #57
Okay

[2017-12-09 14:25] joker314 commented on #47
Given that the crown is no longer allowed, I think that reaching out to users should be exclusively to notify them to *remove*, not replace the link.

[2017-12-09 14:47] WorldLanguages commented on #47
@joker314 The ST already removed the advertising, and I already removed the code for this, so I'll just close the issue

[2017-12-09 14:47] #47 closed, assigned to nobody

[2017-12-09 21:54] joker314 commented on #44
@Smrman Thanks! However, we don't need to workaround CORS protection because the extension has explicit permission to access the isOnline server. Instead, we use XMLHttpRequests (this was a suggested answer to the question you linked) and we will continue to do so.

Thanks again for helping out with isOnline and finding that link!

[2017-12-27 11:26] DeleteThisAcount opened #59 "make the api public"
so that i can make a website pls pls pls

[2017-12-27 15:49] WorldLanguages commented on #59
but the api *is* public?

[2017-12-28 05:00] DeleteThisAcount opened #60 "Not really an io issue but"
uhh I can't login to scratch for some reason I won't be able to test stuff on io until I can. I just have my fingers crossed that I'm just forgetting my password and somebody hasn't changed it.

[2017-12-28 05:03] DeleteThisAcount commented on #59
oh anyways see my new issue pls

[2017-12-28 11:02] DeleteThisAcount commented on #60
Welp I got hacked. I'ma go change my password and stuff.

[2017-12-28 19:13] Sheshank-s commented on #60
This shouldn't be here...

[2017-12-28 19:13] #60 closed, assigned to nobody

[2017-12-28 20:19] radioblahaj commented on #59
This should be closed.

[2017-12-28 22:53] #59 closed, assigned to nobody

[2018-03-17 12:06] kyleplo opened #61 "Scratchtools.pw is down!"
Isonline is not working because the scratchtools.pw server is down.

[2018-03-17 15:39] WorldLanguages commented on #61
Thanks I'll check

[2018-03-17 15:39] #61 closed, assigned to nobody

[2018-04-27 19:39] joker314 opened #62 "What if you move hosting to glitch.com?"
Have you considered moving to glitch.com for hosting? It has a limit of 4k requests per hour. That can roughly handle about 400 users. Here is how I calculated that

[code]
"5" because you make 5 requests per hour (to confirm you're online); and then "x" for any additional requests you make. I set `x` to 5, because this is my guess for how many profiles are viewed per hour. This might be inaccurat

[2018-04-27 20:01] MasterOfTheTiger commented on #62
This sounds good. What are you doing right now?

[2018-04-27 20:05] joker314 commented on #62
The team is currently hosting it on Herohamp's server, last I checked. I left the team on moral objections, but if this happens those moral objections will disappear.

[2018-04-27 20:06] joker314 commented on #62
I think to make this decision, we need to know roughly how many iO users there are.

[2018-04-27 20:19] MasterOfTheTiger commented on #62
@joker314 So what is wrong with Herohamp's server?

[2018-04-27 20:26] joker314 commented on #62
We don't know what he's running on it. The published source code could be different to the one he's running.

[2018-04-27 20:33] MasterOfTheTiger commented on #62
Ah. Okay, so similar problems to what I have with @edxtech's [ScratchNetwork](https://edxt.net/ed/scratchnetwork/) (except that all of his code is entirely non-free).

[2018-04-27 20:39] joker314 commented on #62
@MasterOfTheTiger The webpages look like they have a comment that first says "Closed source" and then says "Apache licence". It doesn't really make sense.

EDIT: My interpretation is that it's Apache licence, as "closed source" is vague; and all changes are "unauthorised" because the licence gives the authorisation". However, this isn't legal advice.

[2018-04-27 20:52] MasterOfTheTiger commented on #62
@joker314 I just saw that after you posted this. It looks confusing. Either way, the internal stuff is proprietary.

Back on topic:

So you can use glitch.com to do the same thing as Herohamps server? And don't you have more than 400 people using isOnline?

[2018-04-27 22:31] Sheshank-s commented on #62
I honestly think that herohamps server is just fine

[2018-04-27 22:31] MasterOfTheTiger commented on #62
@GreenBayRules Why?

[2018-04-27 22:36] WorldLanguages commented on #62
I'm indifferent, if Herohamp wants to do it he will. The request limit is just too... limitating...

[2018-04-27 22:36] MasterOfTheTiger commented on #62
@WorldLanguages That's what I thought when I saw that.

[2018-04-27 22:37] lholliger commented on #62
The server has excellent uptime and it can handle a lot of traffic, and we also know who is running it so though some may disagree, it makes it a little bit safer

[2018-04-27 22:39] WorldLanguages commented on #62
Herohamp will move to another country so he won't be able to host Scratchtools for up to 2 months, starting June 1st. If he wants, we can use glitch temporarily, or permanently. I'll let him decide. isOnline is pretty much dead now. It will slowly get to 1000 users, then 100, and then none.

[2018-04-27 23:57] MasterOfTheTiger commented on #62
@WorldLanguages I will always use it.

[2018-04-28 09:28] joker314 commented on #62
Aaack 1000 is too many tbh, that leaves 4 requests per hour which is more than the keep-alive ones that are sent in the background. Except, not everyone will be online at the same time?

Or, we could split it into two servers? No, because they can't share their database! :(

[2018-04-28 15:07] WorldLanguages commented on #62
Together with Herohamp we have chosen to tell isOnline users about the downtime and to decide after it if we'll still host iO or not.

Maybe after the downtime it will die, maybe the other way, it will revive... We don't know... The future will decide.

[2018-04-28 16:06] MasterOfTheTiger commented on #62
Is it possible for someone else to install the software on their own server?

[2018-04-28 16:30] joker314 commented on #62
@MasterOfTheTiger Yes, the server side code is publicly viewable (and under a libre licence) on GitHub. Not sure where, though...

I've been doing some thinking. Assuming it's allowed by Glitch's terms of service; we could have two servers hosting the same copy of isOnline. Let's call these `A`, and `B`. In the first half of an hour, all users use `A`. In the second half, all users use `B`. At the

[2018-04-28 18:06] MasterOfTheTiger commented on #62
@joker314 That is a good idea, but they do not seem to want to do anything about it because they think it is unnecessary.

[2018-04-28 18:48] joker314 commented on #62
I think we've _seen_ what can happen when we trust black boxes. isOnline used to collect the top ten requests. This showed the most active user's stalking list. I consider this morally wrong. I'm sorry to say this; but I think it's what led to the ban on extensions.

[2018-04-28 19:00] MasterOfTheTiger commented on #62
@joker314 Really? It was isOnline that caused the Scratch Team to ban extensions? I thought isOnline was good.

[2018-04-28 19:24] joker314 commented on #62
@MasterOfTheTiger It was me, who emailed the ST about isOnline. Yes, it's public code was good--but the server it was running on was collecting too much analytical data

[2018-04-28 21:28] WorldLanguages commented on #62
Ahahaha do you really think a top 10 most requested URLs list would make the Scratch Team ban all extensions, userscripts and all other types of programs?

Man, we all have our own views on how much data we want to share on the net, but thinking that something like that caused the extension ban is another level.

[2018-04-28 21:32] WorldLanguages commented on #62
I'm looking for a word that would describe that behavior, but I can't seem to find one.

[2018-04-29 21:03] joker314 commented on #62
I think the whole issue was that they had no idea what you were collecting. In **theory**, the one running the server had access to people's IP addresses[1], visit history, etc. How can the ST know what you're collecting? They can't. They have to trust you, until you become decentralised and people host their own "isOnline" servers (e.g. "https://isonline-jokebookservice1.io")

[1] - and apparentl

[2018-04-30 21:33] WorldLanguages commented on #62
"Ahahaha" again. Apparently we are Cambridge Analytica now 🤣

I'll close this issue since Glitch, while being very convenient in almost every way (pricing, transparency, etc,), its request limit is very low for current iO usage.

[2018-04-30 21:33] #62 closed, assigned to nobody

[2018-05-23 19:06] kyleplo opened #63 "Broken"
These errors appear in the console:
![image](https://user-images.githubusercontent.com/31634240/40445683-d7af5fae-5e9a-11e8-9848-4ea68d45b4db.png)

[2018-05-23 19:31] MasterOfTheTiger commented on #63
It must have been disconnected.

[2018-05-23 19:34] kyleplo commented on #63
I think the entire scratchtools.pw site is down.

[2018-05-23 20:08] kerrtrvs commented on #63
I think @herohamp hosts scratchtools.pw on his server.

[2018-05-23 22:12] haylinmoore commented on #63
Its up again, sorre

[2018-05-23 22:13] radioblahaj commented on #63
that's sad. Hopefully, Isonline users didn't care and delate the app

[2018-05-23 22:23] haylinmoore commented on #63
Welp it is going down for 2 month in a couple of days so, thats the real test

[2018-05-24 14:06] MasterOfTheTiger commented on #63
@herohamp Why don't you find a replacement for that time?

[2018-05-24 14:11] MasterOfTheTiger commented on #63
@herohamp Where is the code you run. Could someone else not run it?

[2018-05-24 22:11] WorldLanguages commented on #63
You've got privacy concerns, we just can't let anyone host this for
thousands of kids

El jue., 24 de may. de 2018 11:11, MasterOfTheTiger <
notifications@github.com> escribió:

[2018-05-26 01:49] Sheshank-s commented on #63
![image](https://user-images.githubusercontent.com/11379161/40571374-647f0a30-604c-11e8-8f27-032cf4e87409.png)
lol

[2018-05-26 01:49] #63 closed, assigned to nobody

[2018-05-31 16:38] modernide opened #64 "isOnline no longer seems to work"
It says "Loading Status" forever, when you force it to check someones statues, it returns "Error", when i deleted it, http://scratchtools.pw/ returns a 502 error

[2018-05-31 19:29] WorldLanguages commented on #64
We will stop hosting it until mid July official announcement soon :)

El jue., 31 de may. de 2018 13:38, ModernFeelGames <notifications@github.com>
escribió:

[2018-06-09 15:47] radioblahaj commented on #64
Why?

[2018-06-09 16:07] Sheshank-s commented on #64
@Narulacodes Personal Reasons

[2018-06-10 22:10] #64 closed, assigned to nobody

[2018-06-16 14:33] Sheshank-s commented on #23
lol
dead

[2018-06-16 21:22] joker314 commented on #23
I mean I'd now support a warning about the new policy. If your comment contains the string "isOnline", it could show up with an isOnline notification, similar to the one we use when you right click to check someone's status?

[2018-06-16 22:01] Sheshank-s commented on #23
Yeah, that's a good idea.